
<table class="confluenceTable">
    <thead>
    <tr>
        <th class="confluenceTh" colspan="2">
            <span class="aui-icon aui-icon-small aui-iconfont-devtools-branch" ></span>
            $repo
        </th>
    </tr>
    </thead>
    <tbody>
        #foreach( $ban in $branches)
            <tr class="confluenceTr">
                <td class="confluenceTd">
                    $ban
                </td>
            </tr>
        #end
    </tbody>
</table>

