
<table class="confluenceTable">
    <thead>
    <tr>
        <th class="confluenceTh" colspan="2">
            <span class="aui-icon aui-icon-small aui-iconfont-devtools-branch" />
            $repo
            $branches
        </th>
    </tr>
    </thead>
    <tbody>
    body
    </tbody>
</table>

